<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*"
           modules="httpPlatformHandler" />
    </handlers>
    <httpPlatform processPath="node"
                  arguments="server.js"
                  startupTimeLimit="20"
                  startupRetryCount="2"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\node.log">
      <environmentVariables>
        <environmentVariable name="PORT"         value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV"     value="production" />
        <environmentVariable name="DATABASE_URL" value="mariadb://acd689_sayo:Sayo%402026@mysql8001.site4now.net:3306/db_acd689_sayo" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>